<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Scittlet nREPL template</title>
    <meta charset="utf-8">
    <base href="/">

    <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.23/dist/scittle.min.js" type="application/javascript"></script>

    <!-- Scittlet dependencies: scittlets.dev.nrepl -->
    <meta name="scittlets.dev.nrepl.version" content="main">
    <script>var SCITTLE_NREPL_WEBSOCKET_PORT = 1340;</script>
    <script src="https://cdn.jsdelivr.net/npm/scittle@0.7.23/dist/scittle.nrepl.js" type="application/javascript"></script>
    <!-- Scittlet dependencies: end -->

    <!-- Scittle App -->
    <script type="application/x-scittle" src="templates/dev/nrepl.cljs"></script>

  </head>
  <body>
    <div id="app"></div></div>
  </body>
</html>
